<!-- NOTE: Include this file to make the es theme available -->
{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=Kelly+Slab&family=Nixie+One&family=Rye&family=Special+Elite&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet"> 

<link rel="stylesheet" href="{% static 'es_theme/style.css' %}"/>