/*
Available google fonts:
    font-family: 'Cherry Swash', cursive; /* stylized typewritied

    font-family: 'Kelly Slab', cursive; /* sci-fi serif 

    font-family: 'Nixie One', cursive; /* currior

    font-family: 'Rye', cursive; /* later period headline

    font-family: 'Special Elite', cursive; /* detailed typewriter

    font-family: 'UnifrakturMaguntia', cursive; /* gothic text
*/

@keyframes backgroundScroll {
    0%   {background-position: 0 0;}
    25%  {background-position: -100px -300px}
    50%  {background-position: -400px 0;}
    75%  {background-position: 50px 200px}
    100% {background-position: 0 0;}
}

body {
    margin: 0px;
    background: url('./img/starfield.png') repeat;
    background-size: cover;
    /*
    background-position: center;
    background-attachment: fixed;
    */

    font-family: 'Kelly Slab', cursive; /* sci-fi serif */

    animation: backgroundScroll 160s infinite linear;
}

/* header */
header {
    position: fixed;
    top: 2%;
    left: 2%;
    width: 96%;

    text-align: center;
}

header:hover {
    z-index: 10;
}

h1, h2 {
    font-family: 'UnifrakturMaguntia', cursive;
}

header h1, header h3 {
    margin: 8px;
}

header h3 {
    opacity: 0.75;
}

header img {
    position: absolute;
    top: 24px;
    right: 32px;
    height: 100%;
}

/*
A class for a logo embossed behind the text
*/
.logo {
    z-index: -1;
    max-height: 110%;
    position: absolute;
    align-self: center;
    top: -10%;
    transform: translate(-50%, 0);
}

.headerbuffer {
    height: 7em;
}


/* content */
section{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

section p, section h2{
    padding: 8px 32px;
}

p{
    font-size: 1.1em;
    line-height: 1.5em;
}

p::first-letter{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 1.2em;
}



/* expand boxes */
.sidebox {
    position: fixed;
    margin-top: 2.5%;
    left: 2.5%;
    float: left;
    max-width: 15%;
}

.sidebox:hover {
    z-index: 10;
}

.expandbox .expandbutton {
    display: inherit;
    padding: 8px;
    margin-bottom: 16px;
}

.expandbox {
    position: relative; /* so that the expanded menu can be relative to it */
}

.expandbox:hover .expandbutton {
    opacity: 0; /* still take up space to things don't move around */
}

.expandbutton h2 {
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 0;
}

.expanded {
    display: none;
}

.expandbox .expanded {
    position: absolute;
    top: 0;
    padding: 8px;
}

.expandbox:hover .expanded {
    display: inherit;
    z-index: 10;
}


/* Tollbars at the bottom of the screen */ 
.bottombar {
    position: fixed;
    display: flex;

    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: 0;
    margin-right: 0;

    flex-direction: row;
    align-items: flex-end;
}

/* for all holoprojections */
/* includes seporate classes for seporate colors */
.holopaper, .holored, .holoblue {
    border: solid 5px #a00000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 16px #e0e0e0;
}

.holopaper {
	color: #e0c090;
	background: #a08050b0; 
	border-color: #d0b080e0;
	box-shadow: 0px 0px 16px #d0b080;
}

.holopaper path, .holopaper line, .holopaper ellipse, .holopaper {
    stroke: #d0b080a0;
}

.holored {
    color: #c00000;
    background: #900000b0;
    border-color: #a00000e0;
    box-shadow: 0px 0px 16px #a00000;
}
.holored path, .holored line, .holored ellipse, .holored {
    stroke: #a00000a0;
}

.holoblue {
    color: #3030d0;
    background: #181860b0;
    border-color: #2020a0e0;
    box-shadow: 0px 0px 16px #2020a0;
}

.holoblue path, .holoblue line, .holoblue ellipse, .holoblue {
    stroke: #2020a0a0;
}



/* for creating subdivisions of holographic projections */
.holosectiontop {
    width: 100%;
    border-bottom: solid 2px #a0a0a060;
    box-shadow: 0 2px 2px #a0a0a060;
    margin: 0 0;
}

.holosectionbottom {
    width: 100%;
    border-top: solid 2px #a0a0a060;
    box-shadow: 0 -2px 2px #a0a0a060;
    margin: 0 0;
}

.holosectionright {
    height: 100%;
    float: right;
    border-left: solid 2px #a0a0a060;
    box-shadow: -2px 0 2px #a0a0a060;
    margin: 0 0;
}


/* zooming objects */

.zoom{
    overflow: hidden;

    /* This is important for overflow and absolutely positioned children */
    position: relative;
    left: 0;
    top: 0;

    z-index: 0; /* TOD: DOESN'T WORK */

}

.zoom:hover{
    position: relative;
    left: -1%;
    top: -1%;
    width: 102%;
    /*height: 102%;*/

    z-index: 10;

    font-size: 1.1em;
}


/* menu */
.menu a {
    width: 90%;
    display: block;
    padding: 8px;
    border-bottom: solid 3px #20202080;
    color: inherit;
    text-decoration: none;
}

.menu a:hover{
    background: #e0e0e0c0;
    color: #20202080;
}


/* vector decals */
svg {
	pointer-events: none;
    max-height: 80%;
}

path, line, ellipse {
    stroke-width: 3px;
    fill: #00000000;
}

path.filledicon, .filledicon path{
    stroke-width: 1;
    fill: #e0e0e080;
}

a:hover path.filledicon{
    fill: #e0e0e0a0;
}



/* corner decals specifically */
.cornerupper, .cornerright, .cornerleft, .cornerright{
    position: absolute;
}

.cornerupper {
    top: 10;
}

.cornerright {
    right: 10;
}

.cornerlower {
    bottom: 10;
}

.cornerleft {
    left: 10;
}


/* misc. tools */
.hidden {
    display: none !important;
}

button {
    padding: 0;
    background: #00000000;
    border-width: 0;
}

a {
    text-decoration: none;
}


/* The alert box */
#alertbox {
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#alertbox h1 {
    font-size: 2em;
    margin-left: 64px;
    margin-bottom: 8px;
}

#alertbox p {
    margin-top: 8px;
    margin-bottom: 8px;
}

#alertbox button {
    float: right;
    margin: 8px;
}

#alertbox h2 {
    margin-top: 4px;
    margin-bottom: 4px;
}

#alertbox > .holoblue, .expandbox .expanded { /* a more intense holoblue for divs that are liable to be on top of stuff */
    background: #131350
}